COLLECTION=
MONGO_ADMIN_USERNAME=
MONGO_ADMIN_PASSWORD=
MONGO_APP_USERNAME=
MONGO_APP_PASSWORD=
MONGO_INITDB_DATABASE=
INPUT_DATA_PATH=
OUTPUT_DATA_PATH=
MONGODB_URI=mongodb://${MONGO_APP_USERNAME}:${MONGO_APP_PASSWORD}@mongodb:27017/${MONGO_INITDB_DATABASE}?authSource=${MONGO_INITDB_DATABASE}
